[submodule "libraries/am"]
	path = libraries/am
	url = ../am
[submodule "libraries/cppformat"]
	path = libraries/cppformat
	url = ../cppformat
[submodule "libraries/basis"]
	path = libraries/basis
	url = ../basis
[submodule "libraries/spline"]
	path = libraries/spline
        branch = submodule
	url = ../spline
[submodule "libraries/mcutils"]
	path = libraries/mcutils
	url = ../mcutils.git
[submodule "config/ndconfig"]
	path = config/ndconfig
	url = ../ndconfig
[submodule "config/ndmakefile"]
	path = config/ndmakefile
	url = ../ndmakefile
